* {
    font-family: Plus Jakarta Sans;
    font-weight: 650;
    font-size: large;
}

body {
    background-color: #FDF6E5 !important;
}

.vr {
    margin: 0 1rem;
}

a.nav-link {
    color: #486284;
}