* {
    font-family: Plus Jakarta Sans;
    font-weight: 650;
}

body {
    background-color: #FDF6E5 !important;
}

.vr {
    margin: 0 1.5rem;
}

.navbarlink {
    color: #6b6d70 !important;
    font-size: 1.1rem !important;
}

.navbarlink:hover {
    filter: brightness(0.3) !important;
}

.active {
    color: black !important;
}

.dropdown-menu {
    background-color: #ffeec6 !important;
    margin-top: 1rem !important;
    width: 11rem !important;
    display: absolute !important;
    left: auto !important;
    right: auto !important;
    width: 0rem !important;
    animation: .5s slideup !important;
}

@keyframes slideup {
    from {
        transform: translateY(5%);
    }

    to {
        transform: translateY(0%);
    }
}

.dropdown-item:focus {
    background-color: #F1C550 !important;
}

.program-card {
    border: 0.125rem solid #e0e0e0;
    border-radius: 1rem;
    overflow: hidden;
    background-color: #f9f9f9;
}

.program-card img {
    height: 20rem;
    object-fit: cover;
}

.program-card .card-body {
    padding: 2.5rem;
}

.program-card h5 {
    font-weight: bold;
}

.program-card p {
    margin: 0;
}

.dropdown-item::selection {
    background-color: #F1C550 !important;
}

.section-about {
    background-image: url(./img/bg.png);
    background-size: cover;
    background-position: center;
}

.rek {
    transform: scale(0.4);
    margin-top: -8rem;
    margin-bottom: -8rem;
}

.card-campaign {
    border: 0.4rem solid #C23D2A;
    background-color: #FFEAE9;
    padding: 2rem;
}

.card-campaign img {
    height: 16rem;
    object-fit: cover;
}

.custom-btn-report {
    background-color: #38451F !important;
    color: white !important;
    border-radius: 8px !important;
    padding: 10px 20px !important;
}

.section-nasabah {
    background-image: url(./img/nasabah.png);
    background-size: cover;
    background-position: center;
}

.dropdown-item:active {
    background-color: #F1C550 !important;
}

.dropdown-item:hover {
    background-color: #F1C550 !important;
}

.dropdown-item {
    font-weight: 550 !important;
    font-size: 0.85rem !important;
}

.dropdown {
    display: flex !important;
    justify-content: center !important;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
}

.search-sm {
    width: max-content;
    height: 2.2rem;
    display: flex;
    align-items: center;
    padding: 0.2rem;
    border-radius: 1rem;
    background-color: #D9D9D9;
    transition: box-shadow 0.25s;
}

.search-sm:focus-within {
    box-shadow: 0 0 0 0.1rem #486284;
}

.whline {
    background-color: white;
    width: 20rem;
    height: 0.4rem;
}

.redline {
    background-color: #8C2E2E;
    width: 100rem;
    height: 4rem;
}

.search-sm-input {
    font-size: small;
    color: black;
    margin-left: 0.2rem;
    outline: none;
    border: none;
    background-color: transparent;
}

.search-sm-input::placeholder {
    color: #486284;
}

.search-icon {
    width: 1rem;
    margin-left: 0.5rem;
}

.custom-card {
    background-color: #617636;
    color: #fff;
    text-align: center;
    padding: 1rem;
    border-radius: 1rem;
}

.custom-button {
    border: 2px solid #F1C550 !important;
    color: #fff !important;
    background-color: transparent !important;
    padding: 0.5rem 1.5rem !important;
    border-radius: 10rem !important;
    margin-top: 0.8rem !important;
}

.butonanim {
    animation: 0.5s smaller;
}

.butonanim:hover {
    box-shadow: 0 0 20px rgba(33, 33, 33, .2);
    transform: scale(1.05);
    animation: 0.5s bigger;
}

@keyframes bigger {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.05);
    }
}

@keyframes smaller {
    from {
        transform: scale(1.05);
    }

    to {
        transform: scale(1);
    }
}

.custom-button:hover {
    background-color: #F1C550 !important;
    color: #5B7543 !important;
}

.two-button-section {
    background-image: linear-gradient(to bottom, #FDF6E5 0, #FDF6E5 33%, #F1C550 33%, #F1C550 66%, #FDF6E5 66%, #FDF6E5 100%);
    padding: 20px 0;
}

.programs img {
    border-radius: 3rem !important;
}

.card-section img {
    height: 20rem;
    object-fit: cover;
}

.progress {
    height: 0.4rem !important;
}

.progress-bar {
    background-color: #6c757d;
}

.card-section {
    background-color: #FFFFFF;
    padding: 1rem;
    border-radius: 1rem;
}

.card-text {
    font-family: Shippori Mincho;
}

.card-title {
    font-family: Shippori Mincho;
}

.card-section div a {
    background-color: #8C2E2E !important;
    color: #FFFFFF !important;
    border: none;
    border-radius: 10rem;
    padding: 0.5rem 1.5rem;
}

.voulenteer {
    background-color: #F1C550;
}

.hero-image {
    border-radius: 12rem 2rem 2rem 2rem !important;
}

.form-control {
    background-color: #FDF6E5 !important;
    border-color: black !important;
    border-width: 0.1rem !important;
}

.form-control::placeholder {
    color: #486284 !important;
    font-weight: 500;
    font-size: small;
}



@media (max-width: 768px) {


    .whline {
        width: 10rem;
    }

    .redline {
        width: 20rem;
        height: 3rem;
    }

    .container-fluid {
        justify-content: space-between !important;
        padding: 0 !important;
    }

    .navbar-expand-lg {
        padding: 0 !important;
    }

    .navigation {
        background-color: #692222;
        width: 100%;
    }

    .navbar-collapse {
        font-size: 0.5rem;
    }

    .navbarlink {
        color: white !important;
        font-weight: normal !important;
        font-size: 0.625rem !important;
        text-align: center !important;
    }

    .navbarlink:focus {
        filter: brightness(1.2) !important;
    }

    .vr {
        color: white;
        margin: 0 0.65rem;
    }

    .navbar-brand {
        max-width: 1rem;
    }

    a.nav-link:focus {
        color: #949494 !important;
    }

    footer {
        text-align: center !important;
    }

    footer a {
        font-size: 80% !important;
    }

    .copyright {
        font-size: 85% !important;
        padding: 0;
        margin: 0 0 0.25rem 0;
    }

    .dropdown-menu {
        left: 0 !important;
    }

    .programs img {
        border-radius: 3rem !important;
    }

    .hero-image {
        margin-top: 2rem;
        border-radius: 4rem 4rem 1rem 1rem !important;
    }

    .moving-dropdown {
        right: 0 !important;
        left: auto !important;
    }

    .dropdown-item {
        font-size: x-small !important;
    }
}